$grey: grey;
$grey2: slategrey;
$ghost: ghostwhite;

.search-content {
  display: grid;
  grid-template-columns: 25% 75%;
  width: 100%;
}

.search-input {
  color: $grey;
  background-color: $ghost;
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 88%;
  border: 1px solid $grey;
  border-radius: 2px;
  margin-top: 10px;
  margin-bottom: 1153px;
}

.search-results {
}

ul {
  list-style: none;
}

li {
  border: 1px solid grey;
  border-radius: 2px;
  margin: 10px;
  padding: 10px;
  background-color: $ghost;
  color: $grey;
  &:hover {
    background-color: lightcyan;
    border: 2px solid lightblue;
  }
}

ul li h2 {
  color: $grey;
}

ul li h3 {
  margin: 6px;
  color: $grey2;
}

ul li p {
  margin: 10px;
  color: $grey2;
}

label {
  font-size: 18px;
}

input {
  padding: 8px;
  font-size: 18px;
  width: 58%;
  color: $grey2;
  border: 1px solid lightgrey;
  border-radius: 4px;
  &:hover {
    border: 2px solid lightblue;
  }
  &:focus {
    border: 2px solid lightblue;
    outline-color: lightblue;
  }
}

button {
  padding: 6px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid grey;
  width: 36%;
  background-color: white;
  color: $grey;
  font-size: 16px;
  &:hover {
    background-color: lightblue;
    border: 2px solid #03a9f4;
    color: #03a9f4;
  }
  &:focus {
    color: #03a9f4;
    background-color: lightblue;
    outline-color: lightblue;
    border: 2px solid #03a9f4;
  }

}
