<md-sidenav-container fullscreen class="side-nav-container">
<md-sidenav #sidenav mode="over" (sidenavClicked)="sidenavClicked($event)"> 
      <app-jobs-list></app-jobs-list>
</md-sidenav>

<div class="search">

<h1>Job Walker Pro</h1>

<div class="search-form">
  <form [formGroup]="searchForm" novalidate>
    <md-input-container>
      <input mdInput placeholder="Location" formControlName="location">
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="Enter Job" formControlName="keyword">
    </md-input-container>
    <button md-raised-button (click)="lookupJobs(searchForm.value)">Search</button>
    <button md-raised-button (click)="sidenav.toggle($event)"><i class="material-icons">list</i></button> 
  </form>
</div>

</div>

<app-map></app-map>
</md-sidenav-container>
