* {
    margin: 0px;
    padding: 0px;
}

body {
   background-color: #f4f4f4;
    height: 100vh;
}

.app-container {
    width: 100%;
}

.header {
    background-color: #694489;
    height: 54px;
    padding-top: 6px;
    //width: 100%;
}

.header-content {
    display: grid;
    grid-template-columns: 56% 36% 4% 4%;
    color: #694489;
    background-color: white;
    padding-left: 20px;
    padding-top: 6px;
    height: 50px;
}

.header-content h1 {
    font-family: helvetica neue;
    font-weight: 200;
}

.header-content button {
    height: 32px;
    margin-top: 10px;
    color: #b3b3b3;
    &:hover {
        background-color: #e6e6e6;
        color: #694489;
    }
}   

.material-icons {
    line-height: 10px !important;
}

// .mat-fab {
//     color: white;
//     background-color: #694489;
//     height: 72% !important;
//     //width: 34% !important;
//     border-radius: 20% !important;
// }

.side-nav-container {
    width: 100%;
    border: 1px solid black;
}

md-sidenav {
    width: 50% !important;
}


