* {
    margin: 0px;
    padding: 0px;
}

body {
   background-color: #f4f4f4;
    height: 100vh;
}

.app-container {
    width: 100%;
}

.header {
    background-color: #694489;
    height: 54px;
    padding-top: 6px;
    padding-bottom: 2px;
    display: block;
}

.header-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: #694489;
    background-color: white;
    //padding-left: 20px;
    padding-top: 6px;
    height: 50px;
}

.header-content h1 {
    font-family: helvetica neue;
    font-weight: 200;
    margin-right: 152px;
}

.header-content button {
    height: 32px;
    margin-top: 10px;
    color: #b3b3b3;
    &:hover {
        background-color: #e6e6e6;
        color: #694489;
    }
} 

.search-content {
    order: 1;
    background-color: white;
    font-family: helvetica neue;
    z-index: 1;
    padding-bottom: 10px;
}

.search-content button {
    color: #b3b3b3;
    height: 32px;
    margin-left: 20px;
        &:hover {
            background-color: #e6e6e6;
            color: #694489;
        }   
} 

.side-nav-container {
    width: 100%;
    border: 1px solid black;
}

md-sidenav {
    width: 50% !important;
}

.material-icons {
    line-height: 10px !important;
}

.mat-input-container {
    padding-left: 8px;
}