* {
    margin: 0px;
    padding: 0px;
}

body {
   background-color: #f4f4f4;
    height: 100vh;
}

.main-content {
    display: grid;
    grid-template-columns: 20% 80%;
 
}

app-map {
    justify-self: stretch;
}

app-search-bar {
    grid-column-start: 1;
    width: 95%;
    height: 300px;
}

app-jobs-list {
    grid-column-start: 2;
}

.header {
    background-color: #694489;
    height: 50px;
    padding-top: 6px;
}

.header-content {
    color: #694489;
    background-color: white;
    padding-left: 20px;
    padding-top: 6px;
    height: 50px;
}

.header-content h1 {
    font-family: helvetica neue;
    font-weight: 200;
}


